<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Restaurant Layout, free CSS template, website design</title>
    <meta name="keywords" content="free website template, CSS design template, download, XHTML" />
    <meta name="description" content="Restaurant Layout - free CSS XHTML website template" />
    <link href="~/Content/templatemo_style.css" rel="stylesheet" type="text/css" />
    <!--  Designed by w w w . t e m p l a t e m o . c o m  -->
</head>

<body>

    <div id="templatemo_container">

        <div id="templatemo_top_section">

            <div id="templatemo_top_left"></div>

            <div id="templatemo_top_mid">
                <div id="templatemo_top_title">Restaurant Layout</div>

                <div class="templatemo_topmenu">

                    <ul>

                        <li><a href="http://www.templatemo.com" target="_parent">CSS LAYOUTS</a></li>
                        <li><a href="#">FLASH TEMPLATES</a></li>
                        <li><a href="#">COMPANY</a></li>
                        <li><a href="#">CONTACT</a></li>

                    </ul>

                </div>

                <div id="templatemo_login_left">MEMBER LOGIN</div>

                <div id="templatemo_login_right">

                    <form id="form1" name="form1" method="post" action="">

                        Username:

                        <label>

                            &nbsp;
                            <input type="text" name="username" id="username" />
                        </label>

                        <br />
                        Password:
                        <label>
                            <input type="password" name="password" id="password" />
                        </label>
                        <br />
                        <label>
                            <input type="submit" name="login" id="login" value="LOGIN" />
                        </label>

                    </form>

                </div>
            </div>

            <div id="templatemo_top_right"></div>

        </div>

        <div id="templatemo_left_section">

            <div class="templatemo_leftmenu">

                <ul>

                    <li><a href="#" class="current">Homepage</a></li>

                    <li><a href="#">CSS Templates</a></li>

                    <li><a href="#">Flash Websites</a></li>

                    <li><a href="#">Web Development</a></li>

                    <li><a href="#">Customer Support</a></li>

                    <li><a href="#">Affiliate Programs</a></li>

                    <li><a href="#">Testimonials</a></li>

                </ul>

            </div>

            <div class="border"></div>

            <div id="templatemo_news">

                <h2>NEWS &amp; EVENTS</h2>

                <p>
                    <strong><a href="#">Mauris quis nulla sed</a></strong><br />
                    Suspendisse feugiat. Ut sodales libero ut odio. Maecenas venenatis metus eu est.
                </p>

                <p>
                    <strong><a href="#">Vestibulum dapibus tortor</a></strong><br />
                    Maecenas vulputate, arcu id fermentum eleifend, tortor enim tincidunt mauris, fringilla tincidunt purus urna vel risus.
                </p>

            </div>

            <div class="border"></div>

            <div id="templatemo_contact">

                <h2> CONTACT</h2>

                <p>
                    Tel:&nbsp; 000-100-1030<br />

                    Fax: 000-200-2060<br />

                    Email: info (at) templatemo.com
                </p>

                <p>&nbsp;</p>

            </div>

        </div>

        <div id="templatemo_right_section">
                @RenderBody()

        </div>

        <div id="templatemo_footer">
            Copyright © 2048 Company Name -
            <a href="http://www.iwebsitetemplate.com" target="_parent">Website Templates</a> by <a href="http://www.templatemo.com" target="_parent">CSS Templates</a>
        </div>

    </div>
    <div align=center>This template  downloaded form <a href='http://all-free-download.com/free-website-templates/'>free website templates</a></div>
</body>
</html>