<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Restaurant Layout, free CSS template, website design</title>
    <meta name="keywords" content="free website template, CSS design template, download, XHTML" />
    <meta name="description" content="Restaurant Layout - free CSS XHTML website template" />
    <link href="~/Content/templatemo_style.css" rel="stylesheet" type="text/css" />
    <!--  Designed by w w w . t e m p l a t e m o . c o m  -->
</head>

<body>

    <div id="templatemo_container">

        <div id="templatemo_top_section">

            <div id="templatemo_top_left"></div>

            <div id="templatemo_top_mid">
                <div id="templatemo_top_title">Restaurant Layout</div>

                <div class="templatemo_topmenu">

                    <ul>

                        <li><a href="http://www.templatemo.com" target="_parent">CSS LAYOUTS</a></li>
                        <li><a href="#">FLASH TEMPLATES</a></li>
                        <li><a href="#">COMPANY</a></li>
                        <li><a href="#">CONTACT</a></li>

                    </ul>

                </div>

                <div id="templatemo_login_left">MEMBER LOGIN</div>

                <div id="templatemo_login_right">

                    <form id="form1" name="form1" method="post" action="">

                        Username:

                        <label>

                            &nbsp;
                            <input type="text" name="username" id="username" />
                        </label>

                        <br />
                        Password:
                        <label>
                            <input type="password" name="password" id="password" />
                        </label>
                        <br />
                        <label>
                            <input type="submit" name="login" id="login" value="LOGIN" />
                        </label>

                    </form>

                </div>
            </div>

            <div id="templatemo_top_right"></div>

        </div>

        <div id="templatemo_left_section">

            <div class="templatemo_leftmenu">

                <ul>

                    <li><a href="#" class="current">Homepage</a></li>

                    <li><a href="#">CSS Templates</a></li>

                    <li><a href="#">Flash Websites</a></li>

                    <li><a href="#">Web Development</a></li>

                    <li><a href="#">Customer Support</a></li>

                    <li><a href="#">Affiliate Programs</a></li>

                    <li><a href="#">Testimonials</a></li>

                </ul>

            </div>

            <div class="border"></div>

            <div id="templatemo_news">

                <h2>NEWS &amp; EVENTS</h2>

                <p>
                    <strong><a href="#">Mauris quis nulla sed</a></strong><br />
                    Suspendisse feugiat. Ut sodales libero ut odio. Maecenas venenatis metus eu est.
                </p>

                <p>
                    <strong><a href="#">Vestibulum dapibus tortor</a></strong><br />
                    Maecenas vulputate, arcu id fermentum eleifend, tortor enim tincidunt mauris, fringilla tincidunt purus urna vel risus.
                </p>

            </div>

            <div class="border"></div>

            <div id="templatemo_contact">

                <h2> CONTACT</h2>

                <p>
                    Tel:&nbsp; 000-100-1030<br />

                    Fax: 000-200-2060<br />

                    Email: info (at) templatemo.com
                </p>

                <p>&nbsp;</p>

            </div>

        </div>

        <div id="templatemo_right_section">
            <h1>WELCOME TO OUR WEBSITE</h1>

            <p>This free website template is provided by <a href="http://www.templatemo.com" target="_parent"><strong>TemplateMo.com</strong></a>. You may download, edit and   apply this CSS layout for your websites.</p>

            <p>
                Nulla enim nibh, consectetuer sed, vestibulum elementum, sagittis nec, diam. Mauris blandit vehicula neque. Proin consectetuer. Donec venenatis. Cras urna metus, feugiat non, consectetuer quis, pretium quis, nunc. Nullam pede purus, tempor a, imperdiet in, porttitor at, nulla.<br />
                &nbsp;
            </p>
            <h1>QUALITY PRODUCTS</h1>

            <div class="templatemo_product">
                <img src="~/Images/templatemo_photo1.jpg" alt="templatemo.com" width="117" height="76" /><strong>Vivamus a massa</strong><br />

                Donec iaculis felis id neque. Morbi nunc. Praesent varius egestas velit. Donec a massa ut pede pulvinar vulputate. Nulla et augue. Sed eu nunc quis pede tristique suscipit. Nam sit amet justo vel libero tincidunt dignissim. <a href="#"><strong>READ MORE</strong></a>
            </div>

            <div class="templatemo_product">
                <img src="~/Images/templatemo_photo2.jpg" alt="templatemo.com" /><strong>Cras magna velit</strong><br />

                Pellentesque mattis, faucibus vitae, feugiat vitae, sapien. Donec ante. Fusce ac orci sit amet velit ultrices condimentum. Integer imperdiet odio ac eros. Ut id massa. Nullam nunc. Vivamus sagittis varius lorem. <a href="#"><strong>READ MORE</strong></a>
            </div>

            <div id="templatemo_right_bot">

                <h1>OUR SUPPORT</h1>

                <p>Aliquam tristique lacus in sapien. Suspendisse potenti. Ut sed pede. Nullam vitae tellus. Sed ultrices. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Curabitur velit tellus, placerat et, dapibus varius, aliquet quis, purus. </p>
                <p>Aliquam sagittis molestie sapien. Nulla tellus risus, tincidunt vitae, sagittis vel, interdum at, erat. Duis vitae velit. Ut ultricies. Fusce sollicitudin nisl a lectus. Pellentesque odio. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
                <p><a href="http://validator.w3.org/check?uri=referer"><img height="31" alt="Valid XHTML 1.0 Transitional" src="http://www.w3.org/Icons/valid-xhtml10" width="88" vspace="8" border="0" /></a> <a href="http://jigsaw.w3.org/css-validator/check/referer"><img alt="Valid CSS!" src="http://jigsaw.w3.org/css-validator/images/vcss-blue" vspace="8" border="0" /></a></p>

            </div>

            <h1>&nbsp;</h1>
            <div class="container body-content">
                @RenderBody()
                <hr />
                <footer>
                    <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
                </footer>
            </div>

        </div>

        <div id="templatemo_footer">
            Copyright © 2048 Company Name -
            <a href="http://www.iwebsitetemplate.com" target="_parent">Website Templates</a> by <a href="http://www.templatemo.com" target="_parent">CSS Templates</a>
        </div>

    </div>
    <div align=center>This template  downloaded form <a href='http://all-free-download.com/free-website-templates/'>free website templates</a></div>
</body>
</html>